<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UsesrDao">
    <resultMap id="usersMap" type="com.bean.Users">
        <id property="id" column="id"/>
        <result property="pwd" column="pwd"/>
    </resultMap>
    <select id="selectByUserAndPwd" parameterType="com.bean.Users" resultMap="usersMap">
        select * from users where id = #{id} and pwd = #{pwd}
    </select>
</mapper>